.full-header.fixed-header
  .header
    .header-wrapper
      .container
        .row
          .left
            =image_tag  "sushi_crm_smaller_trans.png", :class => "sushi-logo"
          .right
            .mini.mobile-nav#mobile-nav
              .btn.btn-default.glyphicon.glyphicon-align-justify#dropdownMenu1
            .mini#desktop-nav
              %ul.nav-body-full
                %li.how-it-works{:'data-clickable' => 'yes'} How it works
                %li.pricing{:'data-clickable' => 'yes'} Pricing
                %li.get-started{:'data-clickable' => 'yes'} Get Started
                %li
                  %button.btn.btn-default.login-button LOGIN
  %ul.list-group.mobile-nav#mobile-nav-links.hidden
    %li.list-group-item.how-it-works{:'data-clickable' => 'yes'} HOW IT WORKS
    %li.list-group-item.pricing{:'data-clickable' => 'yes'} PRICING
    %li.list-group-item.get-started{:'data-clickable' => 'yes'} GET STARTED
    %li.list-group-item.login-link LOGIN
