.modal.fade.hidden
  .container
    .row.vertical-offset-100
      .col-md-4.col-md-offset-4
        .panel.panel-default.centralize.login-panel
          .panel-heading
            .row-fluid.user-row
              =image_tag  "icons/login_icon.png", :class => "img-responsive"
          .panel-body
            %form
              %label.panel-login
                .login_result.login-failed
              .form__field
                %input#username{:type=>"text"}
                %label{:for => "username"} Username
              .form__field
                %input#password{:type=>"password"}
                %label{:for => "password"} Password

              %p.note.centralize * Hint: phanducsjsu/123456
              .btn.btn-lg.btn-block.btn-primary.centralize.login-submit{:type => "submit", :value => "Login »", :id => 'login-submit'} LOGIN »





