- content_for :custom_styles do
  = stylesheet_link_tag 'home/home_override'

.page-wrapper.container
  .centralize
    .product-title Sushi CRM
    .product-brief  The CRM that can power your sales pipeline
  %hr
  .row.teaser.centralize
    %img.teaser-image{src: 'https://cldup.com/AXMXhsGS2Y.png'}

  %br
  %p.note.centralize * Illustration Disclaimer: Product images are for illustrative purposes only, and do not necessarily represent the final products, services, or ideas in the context they are found in. It is the user’s responsibility to clarify with the service provider, RubiCubes Inc., exactly what products and services are being provided prior to purchase.

  %hr
  %section#how-it-works
    %h1.centralize How it works
  %div.how-it-workz
    %p The mission of SushiCRM is to deliver intelligent software and services that enable extraordinary customer relationships with world-class business results mostly for Real Estate Professionals by putting several records for real estate dealers to quickly and efficiently target probable sellers and buyers and also target home improvement as well like windows replacement, roofing, tile placing, kitchen remodeling professionals in a cost effective way.

    %p Sushi CRM provides users a competent bidding platform which helps them to acquire potential leads in real time. Also provide cost effective VOIP service integrated to the system for reliable service. Provides location and navigation facility to get the details of the property.

    %p With vertical based CRM we put vision into enhanced experiences that promote end-user productivity. With an in-depth knowledge and single business concentration it’s more efficient and user friendly.

    %p Unlike existing CRM’s available in market which are more generic and require more technical support and need to pay for customizing the CRM for your business, and we thrive where they fail to provide better application for small real estate dealers need not to pay lot to start with.

    %p Sushi CRM provide a lot more options specific to real estate dealers which others do not provide like Lead board where from you can bid for potential leads and integration to Zillow which can speed up the business and need not to run potential leads.

  %hr
  %section#pricing
    %h1.centralize Pricing
  %div
    #fdw-pricing-table
      .plan.plan1
        .plan-header Trial
        .price $0
        .monthly per month
        %ul
          %li
            %strong 10GB
            Disk Space
          %li
            %strong 100GB
            Monthly Bandwidth
          %li
            %strong 20
            Dealer Accounts
          %li
            Marketing lead management
          %li
            Analytics Dashboards
          %li
            Customizable Profile


          .btn.btn-lg.btn-block.btn-danger{style: 'margin-top: 10px'}Sign up

  %hr
  %section#get-started
    %h1.centralize Get started
  %div.how-it-workz.centralize
    %p
      %a How to add dealer to your corporate account?

    %p
      %a How to assign lead to dealers?

    %p
      %a How to bid for lead?

    %p
      %a How do you add a lead to contact?

    %p
      %a How do you add or edit property?

    %p
      %a Sharing 101 guide.

    %p
      %a How do I provide feedback?

= render partial: 'shared/login_2', layout: false
= render partial: 'shared/register', layout: false
