/* This is mainly for testing single page application css.
   When everything is well-defined, the css should be separated
   in correct files based on functions */

h1 {
  font-family: 'Montez', sans-serif;
  color: #c94d00;
  font-size: 50px;
}

section {
  padding-top: 10px;
}

.vertical-mid {
  vertical-align: middle !important;
}

.centralize {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 70%;
}

.short {
  width: 50%;
  margin-left: 0;
}

.footer {
  background-color: #1E1E1E;
  font-size: 14px;
  bottom:0;
  width: 100%;
  margin-top: 150px;
}

.footer-wrapper {
  color: #bfbfbf;
  padding: 15px 20px 15px 20px;

  a {
    color: #afcecc;
  }

  .separator {
    display: inline-block;
    vertical-align: top;
    margin-top: 12px;
    margin-left: 10px;
  }
}

.header {
  background-color: #8B0000;
  font-size: 14px;
  width: 100%;
  height: 80px;
  z-index: 100;
  position: relative;

  .go-top {
    visibility: hidden;
  }
}

.fixed-header {
  position:fixed;
  top: 0;

  .go-top {
    visibility: visible;
  }
}

.full-header {
  width: 100%;
  height: 80px;
  z-index: 100;
}

.content-wrapper {
  background-color: white;
}

.left  { float: left;  }
.right { float: right; }

.mT20 { margin-top: 20px; }
.mR10 { margin-right: 10px; }

.sushi-logo {
  height: 60px;
  margin-top: 10px;
}

ul.nav-body-full{
  display: block;
  margin-top: 36px;
  li {
    display: inline-block;
    color: white;
    font-family: 'Indie Flower', sans-serif;
    font-size: 25px;
    padding: 0px 20px 20px 0px;
    cursor: pointer;
  }

  li:hover {
    color: #FFFF99;
    text-decoration: underline;
  }
}

.teaser {
  height: 100%;
}

.teaser-image {
  width: 100%;
}

.login-button {
  width: 100px;
  height: 34px;
  margin-bottom: 10px;
  font-size: 20px;
  background-color: lightyellow;
  font-family: 'Hind', sans-serif;
}

.product-title {
  padding-top: 30px;
  font-family: 'Hind', sans-serif;
  color: #484848;
}

.product-brief {
  color: #8F8F8F;
  font-family: 'Rajdhani', sans-serif;
}

.note {
  color: dimgray;
  font-size: 10px;
  font-style: italic;
}

@media all and (max-width: 4000px){
  .product-title {
    font-size: 75px;
  }
  .product-brief {
    font-size: 40px;
  }
  .mini#desktop-nav {
  }
  .mini.mobile-nav {
    margin-top: 15px;
    display: none;
  }
}

@media all and (max-width: 1280px){
  .product-title {
    font-size: 70px;
  }
  .product-brief {
    font-size: 35px;
  }
  .mini#desktop-nav {
  }
  .mini.mobile-nav {
    margin-top: 15px;
    display: none;
  }
}

@media all and (max-width: 1000px){
  .product-title {
    font-size: 60px;
  }
  .product-brief {
    font-size: 28px;
  }
  .mini#desktop-nav {
  }
  .mini.mobile-nav {
    margin-top: 15px;
    display: none;
  }
}

@media all and (max-width: 720px){
  .product-title {
    font-size: 45px;
  }
  .product-brief {
    font-size: 20px;
  }
  .mini#desktop-nav {
    display: none;
  }
  .mini.mobile-nav {
    margin-top: 10px;
    display: block;
  }
}

@media all and (max-width: 360px){
  .product-title {
    font-size: 30px;
  }
  .product-brief {
    font-size: 16px;
  }
  .mini#desktop-nav {
    display: none;
  }
  .mini.mobile-nav {
    margin-top: 10px;
    display: block;
  }
}

.vertical-offset-100 {
    padding-top: 100px;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: 70px;
  margin: auto;
}
.panel {
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.75);
  border: 1px solid floralwhite;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);

  .panel-heading {
    background-color: #192434;
  }

  .panel-body {
    background-color: lightgray;
  }
}

.panel-login {
  padding: 4px;
  height: 20px;
}

.login_result.login-failed {
  color: crimson;
}

.login_result.login-success {
  color: green;
}

.mini {
  display: block;
  height: 5px;
}

#mobile-nav{
  .glyphicon-align-justify {
    font-size: 2em;
    background-color: transparent;
    border: 0px solid;
    float: right;
    color: whitesmoke;
  }
  .dropdown-menu {
    float: right;
  }
}

#mobile-nav-links{
  font-family: 'Nunito', sans-serif;
  li{
    text-align: center;
    background-color: brown;
    font-size: 15px;
    border-radius: 0px;
    border: 0px;
    color: white;
    text-decoration: none;
    cursor: pointer;
  }

  li:hover {
    color: yellow;
  }
  a {
    color: white;
    text-decoration: none;
  }
  a:hover{
    color: yellow;
  }
}

